<table id="clientTable" class="table table-hover" border="1" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th>LOGICALREF</th>
            <th>CODE</th>
            <th>DEFINITION</th>
        </tr>
    </thead>
    <tbody id="clientBody">
        @foreach (var item in Model)
        {
            <tr class="rowSelect" data-id="@item.LOGICALREF" data-code="@item.CODE" data-def="@item.DEFINITION_">
                <td>@item.LOGICALREF</td>
                <td>@item.CODE</td>
                <td>@item.DEFINITION_</td>
            </tr>
        }
    </tbody>
</table>