<div id="itemListContainer">
    <div class="item-header row d-none d-md-flex">
        <div class="col-2"><strong>ID</strong></div>
        <div class="col-2"><strong>CODE</strong></div>
        <div class="col-4"><strong>NAME</strong></div>
        <div class="col-3"><strong>Birim Seti</strong></div>
        <div class="col-1"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="list-row rowSelect"
             data-id="@item.LOGICALREF"
             data-code="@item.CODE"
             data-name="@item.NAME"
             data-unitsetref="@item.UNITSETREF">

            <div class="col-12 col-md-2"><span class="label d-md-none">ID: </span>@item.LOGICALREF</div>
            <div class="col-12 col-md-2"><span class="label d-md-none">CODE: </span>@item.CODE</div>
            <div class="col-12 col-md-4"><span class="label d-md-none">NAME: </span>@item.NAME</div>
            <div class="col-12 col-md-3"><span class="label d-md-none">Birim Seti: </span>@item.UNITNAME</div>
            <div class="col-12 col-md-1">
                <a href="@Url.Action("Index", "ItemDetails", new { logicalRef = item.LOGICALREF })">
                    Düzenle
                </a>
            </div>
        </div>
    }
</div>
