<table id="itemTable" class="table table-hover" border="1" style="border-collapse: collapse;">
    <thead>
        <tr>
            <th>LOGICALREF</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>Birim Seti</th>
            <th>   </th>
            

        </tr>
    </thead>
    <tbody id="itemBody">
        @foreach (var item in Model)
        {
            <tr class="rowSelect" data-id="@item.LOGICALREF" data-code="@item.CODE" data-def="@item.NAME">
                <td>@item.LOGICALREF</td>
                <td>@item.CODE</td>
                <td>@item.NAME</td>
                <td>@item.UNITNAME</td>
                <td>
                    <a href="@Url.Action("Index", "ItemDetails", new { logicalRef = item.LOGICALREF })">
                        Düzenle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>